<strong>Cria o database Prata</strong>

In [0]:
%sql
create database if not exists Prata

**Mostra que a coluna "data_nascimento" da tabela Clientes está vazia.**

In [0]:
%python 
resposta = spark.sql("SELECT *  FROM bronze.Clientes where DATA_NASCIMENTO is not null")   
resposta.show()

+----------+----+---------------+--------+
|ID_CLIENTE|NOME|DATA_NASCIMENTO|TELEFONE|
+----------+----+---------------+--------+
+----------+----+---------------+--------+

**Mostra que a coluna "Telefone" da tabela Clientes está vazia**

In [0]:
%python 
resposta = spark.sql("SELECT *  FROM bronze.Clientes where TELEFONE is not null")   
resposta.show()

+----------+----+---------------+--------+
|ID_CLIENTE|NOME|DATA_NASCIMENTO|TELEFONE|
+----------+----+---------------+--------+
+----------+----+---------------+--------+

**Remove as colunas "Data_Nascimento" e "Telefone" do dataframe "clientes".**

In [0]:
%py
df_cli = clientes.drop("DATA_NASCIMENTO","TELEFONE")
df_cli.show(10)

+----------+----------------+
|ID_CLIENTE|            NOME|
+----------+----------------+
|         1|   MARCIA CP 903|
|         2|   SIMONE VP 613|
|         3|ALEXANDRA HP 208|
|         4| PAULINHA GP 504|
|         5|   ESTHER GP 814|
|         6|ROSANGELA GP 102|
|         7|    BRUNA GP 503|
|         8|     JANA VP 902|
|         9|    CARLA VP 405|
|        10|       DANI FORA|
+----------+----------------+
only showing top 10 rows

**Criar a tabela "Clientes" tratada no database Prata**

In [0]:
%python
df_cli.write.mode("overwrite").saveAsTable('prata.Clientes')

**Mostra que as colunas "DATA_NASCIMENTO" e "TELEFONE"  foram removidas da tabela Clientes**

In [0]:
%python 
resposta = spark.sql("SELECT * FROM prata.Clientes ")   
resposta.show(10)

+----------+----------------+
|ID_CLIENTE|            NOME|
+----------+----------------+
|         1|   MARCIA CP 903|
|         2|   SIMONE VP 613|
|         3|ALEXANDRA HP 208|
|         4| PAULINHA GP 504|
|         5|   ESTHER GP 814|
|         6|ROSANGELA GP 102|
|         7|    BRUNA GP 503|
|         8|     JANA VP 902|
|         9|    CARLA VP 405|
|        10|       DANI FORA|
+----------+----------------+
only showing top 10 rows

**Demonstra que existe um "X" na coluna Ativo. Essa coluna aceita somente ("S" ou "N").**

In [0]:
%python 
resposta = spark.sql("SELECT * FROM bronze.prestadores where ATIVO = 'X' ")   
resposta.show()

+------------+-------+----+---------------+-----------+----+-----+
|ID_PRESTADOR|APELIDO|NOME|DATA_NASCIMENTO|     FUNCAO| PIX|ATIVO|
+------------+-------+----+---------------+-----------+----+-----+
|          14|   DANI|DANI|           null|     CABELO|null|    X|
|          18|   NARA|NARA|           null|ESTETICISTA|null|    X|
+------------+-------+----+---------------+-----------+----+-----+

**Atualiza a coluna Ativo igual 'N' quando for igua a "X".**

In [0]:
%py
from pyspark.sql.functions import when
df_final = prestadores.withColumn("ATIVO", when(prestadores.ATIVO == "X","N") \
            .otherwise(prestadores.ATIVO))

**Mostra no data_frame "df_final " que as dados que estava com "X" foram atualizadas para "N".**

In [0]:
%python 
df = df_final.filter((df_final["ID_PRESTADOR"]==14) | (df_final["ID_PRESTADOR"]==18))
df= df.select("ID_PRESTADOR","NOME","ATIVO")
df.show()

+------------+----+-----+
|ID_PRESTADOR|NOME|ATIVO|
+------------+----+-----+
|          14|DANI|    N|
|          18|NARA|    N|
+------------+----+-----+

**Demontra que a coluna "DATA_NASCIMENTO" da tabela "PRESTADORES" está vazia.**

In [0]:
%python 
resposta = spark.sql("SELECT * FROM bronze.prestadores where DATA_NASCIMENTO IS NOT NULL ")   
resposta.show()

+------------+-------+----+---------------+------+---+-----+
|ID_PRESTADOR|APELIDO|NOME|DATA_NASCIMENTO|FUNCAO|PIX|ATIVO|
+------------+-------+----+---------------+------+---+-----+
+------------+-------+----+---------------+------+---+-----+

**Remove a coluna "DATA_NASCIMENTO" do datafreme "prestadores".**

In [0]:
%py
df_pre = df_final.drop("DATA_NASCIMENTO")
df_pre.show(10)

+------------+---------+----------------+----------------+--------------------+-----+
|ID_PRESTADOR|  APELIDO|            NOME|          FUNCAO|                 PIX|ATIVO|
+------------+---------+----------------+----------------+--------------------+-----+
|           1|      LEO|LEONARDO MACHADO|          CABELO|21 99562-4420 CEL...|    S|
|           2|ANA LUCIA|       ANA LUCIA|MANICUREPEDICURE|21 96662-2202 CEL...|    S|
|           3|   REBECA|          REBECA|MANICUREPEDICURE|  172.249.587.19 CPF|    S|
|           4|ANA BRITO|       ANA BRITO|          CABELO|                null|    S|
|           5|    SALAO| SALAO ANABRITTO|           GERAL|                null|    S|
|           6|  JULIETE|JULIETE FAUSTINO|MANICUREPEDICURE|                null|    S|
|           7|   SIMONE|          SIMONE|          CABELO|                null|    N|
|           8| FERNANDA|        FERNANDA|MANICUREPEDICURE|                null|    N|
|           9|  LUCIANA|         LUCIANA|MANICUREPEDICURE|                null|    S|
|          10| CRISTINA|        CRISTINA|          CABELO|                null|    N|
+------------+---------+----------------+----------------+--------------------+-----+
only showing top 10 rows

**Cria a tabela "Prestadores" no database Prata.**

In [0]:
%python
df_pre.write.mode("overwrite").saveAsTable('prata.Prestadores')

**Demonstra que a tabela "Prestadores" foi criada no database Prata.**

In [0]:
%python 
resposta = spark.sql("SELECT * FROM prata.prestadores")   
resposta.show(10)

+------------+---------+----------------+----------------+--------------------+-----+
|ID_PRESTADOR|  APELIDO|            NOME|          FUNCAO|                 PIX|ATIVO|
+------------+---------+----------------+----------------+--------------------+-----+
|           1|      LEO|LEONARDO MACHADO|          CABELO|21 99562-4420 CEL...|    S|
|           2|ANA LUCIA|       ANA LUCIA|MANICUREPEDICURE|21 96662-2202 CEL...|    S|
|           3|   REBECA|          REBECA|MANICUREPEDICURE|  172.249.587.19 CPF|    S|
|           4|ANA BRITO|       ANA BRITO|          CABELO|                null|    S|
|           5|    SALAO| SALAO ANABRITTO|           GERAL|                null|    S|
|           6|  JULIETE|JULIETE FAUSTINO|MANICUREPEDICURE|                null|    S|
|           7|   SIMONE|          SIMONE|          CABELO|                null|    N|
|           8| FERNANDA|        FERNANDA|MANICUREPEDICURE|                null|    N|
|           9|  LUCIANA|         LUCIANA|MANICUREPEDICURE|                null|    S|
|          10| CRISTINA|        CRISTINA|          CABELO|                null|    N|
+------------+---------+----------------+----------------+--------------------+-----+
only showing top 10 rows

**Cria as colunas Ano e Mês no dataframe "comandacliente" que vai ser usado pra responder  um quesito.**

In [0]:
%python
from pyspark.sql import SparkSession
from pyspark.sql.functions import split, col
from pyspark.sql.functions import when
dfanomes = comandacliente.withColumn('ANO', split(comandacliente['DATA_SERVICO'], '-').getItem(0)) \
       .withColumn('MES', split(comandacliente['DATA_SERVICO'], '-').getItem(1)) 

   
dfanomes = dfanomes.withColumn("MES", when(dfanomes.MES == 1,"JANEIRO")   \
                                         .when(dfanomes.MES == 2,"FEVEREIRO") \
                                         .when(dfanomes.MES == 3,"MARÇO")     \
                                         .when(dfanomes.MES == 4,"ABRIL")     \
                                         .when(dfanomes.MES == 5,"MAIO")      \
                                         .when(dfanomes.MES == 6,"JUNHO")     \
                                         .when(dfanomes.MES == 7,"JULHO")     \
                                         .when(dfanomes.MES == 8,"AGOSTO")    \
                                         .when(dfanomes.MES == 9,"SETEMBRO")  \
                                         .when(dfanomes.MES == 10,"OUTUBRO")  \
                                         .when(dfanomes.MES == 11,"NOVEMBRO") \
                                         .when(dfanomes.MES == 12,"DEZEMBRO")                                           

            .otherwise(dfanomes.MES))
df_select = dfanomes.select("ID_COMANDA","DATA_SERVICO","ANO","MES")            
df_select.show(10)

+----------+------------+----+-------+
|ID_COMANDA|DATA_SERVICO| ANO|    MES|
+----------+------------+----+-------+
|      6430|  2024-01-04|2024|JANEIRO|
|      6430|  2024-01-04|2024|JANEIRO|
|      6430|  2024-01-04|2024|JANEIRO|
|      6431|  2024-01-04|2024|JANEIRO|
|      6431|  2024-01-04|2024|JANEIRO|
|      6431|  2024-01-04|2024|JANEIRO|
|      6431|  2024-01-04|2024|JANEIRO|
|      6432|  2024-01-04|2024|JANEIRO|
|      6432|  2024-01-04|2024|JANEIRO|
|      6433|  2024-01-04|2024|JANEIRO|
+----------+------------+----+-------+
only showing top 10 rows

**Cria a tabela "ComandaCliente" no database Prata.**

In [0]:
%python
dfanomes.write.mode("overwrite").saveAsTable('prata.ComandaCliente')

**Cria a tabela "Pagamentos" no database Prata.**

In [0]:
%python
pagamentos.write.mode("overwrite").saveAsTable('prata.Pagamentos')

**Cria a tabela "Servicos" no database Prata.**

In [0]:
%python
servicos.write.mode("overwrite").saveAsTable('prata.Servicos')

**Cria o dataframe "df_pagamentos" que vai ser usado para criar a tabela "Pagamentos" no database Ouro.**

In [0]:
%py
sql ="""SELECT Year(data_pagamento) as Ano, case when month(data_pagamento)  =1 then 'Janeiro'  when month(data_pagamento)  =2 then 'Fevereiro'
when month(data_pagamento)  =3 then 'Março'
when month(data_pagamento)  =4 then 'Abril'
                    when month(data_pagamento)  =5 then 'Maio'
                    when month(data_pagamento)  =6 then 'Junho'
                    when month(data_pagamento)  =7 then 'Julho'
                    when month(data_pagamento)  =8 then 'Agosto'
                    when month(data_pagamento)  =9 then 'Setembro'
                    when month(data_pagamento)  =10 then 'Outubro'
                    when month(data_pagamento)  =11 then 'Novembro'
                    when month(data_pagamento)  =12 then 'Dezembro' end as mes,
VALOR_PAGTO,forma_pago as Forma_Pagto 
FROM Prata.Pagamentos 
"""

df_pagamentos = spark.sql(sql)
df_pagamentos.show(10)

+----+-------+-----------+-----------+
| Ano|    mes|VALOR_PAGTO|Forma_Pagto|
+----+-------+-----------+-----------+
|2024|Janeiro|     176.00|     DEBITO|
|2024|Janeiro|     325.00|    CREDITO|
|2024|Janeiro|     172.00|     DEBITO|
|2024|Janeiro|      35.00|        PIX|
|2024|Janeiro|      29.00|   DINHEIRO|
|2024|Janeiro|      49.00|     DEBITO|
|2024|Janeiro|      35.00|        PIX|
|2024|Janeiro|      49.00|    CREDITO|
|2024|Janeiro|      29.00|    CREDITO|
|2024|Janeiro|      40.00|     DEBITO|
+----+-------+-----------+-----------+
only showing top 10 rows

**Cria o dataframe "df_comandafinal" que vai ser usado para criar a tabela "comandafinal" no database Ouro.**

In [0]:
%py
sql ="""select cast(C.ANO as integer) as Ano_Servico, 
P.Nome as Nome_Prestador,  C.VALOR as Valor_Servico,
C.Comissao as Comissao_servico,S.Descricao,
case when month(C.data_servico)  =1 then 'Janeiro'
                    when month(C.data_servico)  =2 then 'Fevereiro'
                    when month(C.data_servico)  =3 then 'Março'
                    when month(C.data_servico)  =4 then 'Abril'
                    when month(C.data_servico)  =5 then 'Maio'
                    when month(C.data_servico)  =6 then 'Junho'
                    when month(C.data_servico)  =7 then 'Julho'
                    when month(C.data_servico)  =8 then 'Agosto'
                    when month(C.data_servico)  =9 then 'Setembro'
                    when month(C.data_servico)  =10 then 'Outubro'
                    when month(C.data_servico)  =11 then 'Novembro'
                    when month(C.data_servico)  =12 then 'Dezembro' end as mes
from Prata.prestadores as P, Prata.comandacliente as C, Prata.Servicos as S
where P.ID_PRESTADOR = C.ID_PRESTADOR and 
    C.ID_SERVICO = S.ID_SERVICO"""

df_comandafinal = spark.sql(sql)
df_comandafinal.show(10)

+-----------+----------------+-------------+----------------+--------------------+-------+
|Ano_Servico|  Nome_Prestador|Valor_Servico|Comissao_servico|           Descricao|    mes|
+-----------+----------------+-------------+----------------+--------------------+-------+
|       2024|          REBECA|        49.00|              55|            PE + MAO|Janeiro|
|       2024|       ANA BRITO|        47.00|              50|SOBRANCELHAS C/ D...|Janeiro|
|       2024|       ANA BRITO|        80.00|              50|APLICACAO + LAVAG...|Janeiro|
|       2024|          REBECA|        29.00|              55|                 MAO|Janeiro|
|       2024|       ANA BRITO|        69.00|              50|      CORTE FEMININO|Janeiro|
|       2024|       ANA BRITO|       180.00|              40|CAUTERIZACAO - TR...|Janeiro|
|       2024|       ANA BRITO|        47.00|              50|SOBRANCELHAS C/ D...|Janeiro|
|       2024|JULIETE FAUSTINO|        52.00|              55|            PE + MAO|Janeiro|
|       2024|LEONARDO MACHADO|       120.00|              40|CAUTERIZACAO - TR...|Janeiro|
|       2024|JULIETE FAUSTINO|        29.00|              55|                 MAO|Janeiro|
+-----------+----------------+-------------+----------------+--------------------+-------+
only showing top 10 rows

**Cria o dataframe "df_gasto" que vai ser usado para criar a tabela "GastoMensal" no database Ouro**.

In [0]:
%py
sql = """
select YEAR(DATA_SERVICO) AS ANO,MONTH(DATA_SERVICO) AS MES, ROUND((SUM((VALOR * COMISSAO)/100)+ 7000),2) AS VL_GASTO_MENSAL                          
from  PRATA.COMANDACLIENTE 
GROUP BY YEAR(DATA_SERVICO), MONTH(DATA_SERVICO)
"""

df_gasto =spark.sql(sql)
df_gasto.show(10)

+----+---+---------------+
| ANO|MES|VL_GASTO_MENSAL|
+----+---+---------------+
|2024|  7|       26802.55|
|2024| 12|       29703.35|
|2024|  3|        26899.9|
|2024|  5|        31043.8|
|2024|  9|        23194.7|
|2024| 10|       26839.05|
|2024|  2|        26098.3|
|2025|  3|       14730.25|
|2024|  1|        24243.8|
|2024| 11|        25080.0|
+----+---+---------------+
only showing top 10 rows

**Cria o dataframe "df_faturamento" que vai ser usado para criar a tabela "FaturamentoMensal" no database Ouro.**

In [0]:
%py
sql = """
select YEAR(DATA_PAGAMENTO) AS ANO, MONTH(DATA_PAGAMENTO) AS MES , SUM(VALOR_PAGTO) AS VL_FATURAMENTO_MENSAL                         
from  PRATA.PAGAMENTOS
GROUP BY YEAR(DATA_PAGAMENTO), MONTH(DATA_PAGAMENTO)
"""

df_faturamento =spark.sql(sql)
df_faturamento.show(10)

+----+---+---------------------+
| ANO|MES|VL_FATURAMENTO_MENSAL|
+----+---+---------------------+
|2024|  7|              37998.0|
|2024| 12|              43701.0|
|2024|  3|              38331.0|
|2024|  5|              45899.0|
|2024|  9|              30952.0|
|2024| 10|              37830.0|
|2024|  2|              36633.0|
|2025|  3|              14770.0|
|2024|  1|              33296.0|
|2024| 11|              34886.0|
+----+---+---------------------+
only showing top 10 rows

**Cria o dataframe "df_gasto_cliente" que vai ser usado para criar a tabela "Gasto_Cliente" no database Ouro.**

In [0]:
%py
sql = """
select YEAR(CC.DATA_SERVICO) AS ANO, C.NOME AS NOMECLIENTE,  SUM(CAST(CC.VALOR AS FLOAT)) AS VL_GASTO_CLIENTE                         
from  PRATA.CLIENTES AS C, PRATA.COMANDACLIENTE AS CC
WHERE C.ID_CLIENTE = CC.ID_CLIENTE 
GROUP BY YEAR(CC.DATA_SERVICO), C.NOME
"""

df_gasto_cliente =spark.sql(sql)
df_gasto_cliente.show(6)

+----+-----------------+----------------+
| ANO|      NOMECLIENTE|VL_GASTO_CLIENTE|
+----+-----------------+----------------+
|2024|ALESSANDRA HP 802|          1856.0|
|2024|    SILVIA GP 414|           355.0|
|2024|  FERNANDO HP 614|           350.0|
|2024|    RENATA GP 105|           280.0|
|2025|    RENATA HP 210|            35.0|
|2024|      RITA GP 508|           658.0|
+----+-----------------+----------------+
only showing top 6 rows